<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="FlaskHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Program Files\Python312\python.exe|C:\Program Files\Python312\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
        <httpRedirect enabled="true" destination="http://pete.flinnsci.com:5000" exactDestination="true" />
  </system.webServer>
  <appSettings>
    <add key="PYTHONPATH" value="D:\svc_webscrape\Webscrapping- Webpage V2.2 (WebSocket)\Webscrapping- Webpage V2.2 (WebSocket)" />
    <add key="WSGI_HANDLER" value="app3.app" />
  </appSettings>
</configuration>